#view {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  video {
    height: 100vh;
  }
}

.play-pause {
  position: absolute;
  z-index: 5;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  font-size: 5rem;
  color: rgba(204, 204, 204, 0.6);
  border: none;
}
